html {
	background-color:#666;
	overflow-y: scroll;
}

div.container {
	margin: 0 auto;
	background-color:#CCC;
	width:85%;
}

div.header {
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 30px 0px 30px 0px;
	background-color:#222;
}

span.title_name {
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 20px 30px 20px 40px;
	/* background-color:#067887; */
	background-color:#336999;
	font-size:1.5em;
	color:white;
	position:relative;
	left:-20px;
	/* for IE */
	filter:alpha(opacity=70);
	/* CSS3 standard */
	opacity:0.7;
}

ul.menu_links {
	list-style-type: none;
	float:right;
	margin:auto;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

li {
	float:left;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 3px 15px 0px 15px;
	font-family:Verdana,sans-serif;
}

ul a:link {
	text-decoration:none;
	color:#ccc;
}
ul a:visited {
	text-decoration:none;
	color:#ccc;
}
ul a:hover {
	color: #fff;
}

div.content {
	margin: 0 auto;
	padding: 10px 60px 20px 20px;
	min-height:600px;
}

div.content a:link {
	text-decoration:none;
	color:#765F14;
	color:#764E14;
}
div.content a:visited {
	text-decoration:none;
	color:#151253;
}
div.content a:hover {
	text-decoration:none;
	color:#764E14;
}

div.footer {
	width:100%;
	float:left;
	text-align:center;
	padding:10px 10px 10px 10px;
	color:#222;
	font-size:0.8em;
}

h3 {
	/* color:#00331B; /*002617;*/
	font-weight:bold;
}
h4 {
	color:#222;
}
p {
	color:#222;
}
